table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: azure;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }