<h1 class="text-4xl font-light pb-6">Users List using property in component</h1>
<button
  type="button"
  (click)="clicked()"
  class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-2xl px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
>
  Click Me!!
</button>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
      </tr>
    </thead>
    <tbody>
      @for (user of usersList; track $index) {
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ user.name.first }}
        </th>
        <td class="px-6 py-4">{{ user.name.last }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
